@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F9FAFB;
    --foreground: 240 10% 3.9%;

    --card: #F9FAFB;
    --card-foreground: 240 10% 3.9%;

    --popover: #F9FAFB;
    --popover-foreground: 240 10% 3.9%;

    --primary: #E11D48;
    --primary-foreground: 0 0% 98%;

    --secondary: #F4F4F5;
    --secondary-foreground: 240 5.9% 10%;

    --muted: #D4D4D8;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: #B91C1C;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: #F4F4F5;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #27272A;
    --foreground: 0 0% 98%;

    --card: #27272A;
    --card-foreground: 0 0% 98%;

    --popover: #27272A;
    --popover-foreground: 0 0% 98%;

    --primary: #F43F5E;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #18181B;
    --secondary-foreground: 0 0% 98%;

    --muted: #3F3F46;
    --muted-foreground: 240 5% 64.9%;

    --accent: #DC2626;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: #3F3F46;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-zinc-900 dark:text-gray-50;
  }
}
